<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Modifier Ajouter et Supprimer des Admins</h4>
              <h6 class="card-subtitle">Listes Des Admins.</h6>
              <div class="table table-responsive smart-table">
                  <ng2-smart-table [settings]="settings" [source]="source" class="" (createConfirm)="addRecord($event)" (editConfirm)="updateRecord($event)" (deleteConfirm)="deleteRecord($event)"></ng2-smart-table>
              </div>
          </div>
      </div>
</div>
