<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">packages les plus vendus</h4>
                <h5 class="card-subtitle">aperçu packages les plus vendus</h5>
            </div>
            <div class="ml-auto">
                <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- title -->
    </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Package</th>
                    <th class="border-top-0">Fournisseur</th>
                    <th class="border-top-0">nombre de ventes</th>
                    <th class="border-top-0">Domaine</th>
                    <th class="border-top-0">Profit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <a class="btn btn-circle btn-info text-white">P1</a>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16">Package1</h4>
                            </div>
                        </div>
                    </td>
                    <td>Ala</td>
                    <td>20</td>
                    <td>
                        <label class="label label-danger">Elecricité</label>
                    </td>
                    <td>
                        <h5 class="m-b-0">2850.06 dt</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <a class="btn btn-circle btn-orange text-white">P2</a>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16">Package2</h4>
                            </div>
                        </div>
                    </td>
                    <td>Skander</td>
                    <td>10</td>
                    <td>
                        <label class="label label-info">Electronique</label>
                    </td>
                    
                    <td>
                        <h5 class="m-b-0">285.09 dt</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <a class="btn btn-circle btn-success text-white">P3</a>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16">Package3</h4>
                            </div>
                        </div>
                    </td>
                    <td>Syrine</td>
                    <td>50</td>
                    <td>
                        <label class="label label-success">Climatisation</label>
                    </td>
                    
                    <td>
                        <h5 class="m-b-0">3850 dt</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <a class="btn btn-circle btn-purple text-white">P3</a>
                            </div>
                            <div class="">
                                <h4 class="m-b-0 font-16">Package 3</h4>
                            </div>
                        </div>
                    </td>
                    <td>Chaima</td>
                    <td>70</td>
                    <td>
                        <label class="label label-purple">Garderie</label>
                    </td>
     
                    <td>
                        <h5 class="m-b-0">100 dt</h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>